{% extends "layout.html" %}
{% block body %}
  {% if session.logged_in %}
    <form action="{{ url_for('add_entry') }}" method=post class=add-entry>
      <dl>
        <dt>Title:
        <dd><input type=text size=30 name=title>
        <dt>Text:
        <dd><textarea name=content rows=5 cols=40></textarea>
        <dd><input type=submit value=Share>
      </dl>
    </form>
  {% endif %}
  <ul class=entries>
  {% for entry in entries %}
    <div class='show_entry'>
      <div class="row">
        <div class="col-sm-10">
          <p><a href="detail/{{ entry[0] }}">{{ entry[1] }}</a></p>
        </div>
        <div class="col-sm-2">
          <div class="btn-group show">
            <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              ...
            </button>
            <div class="dropdown-menu">
              <center><a class="dropdown-item" href="update/{{ entry[0] }}">Chỉnh sữa</a></center>
              <div class="dropdown-divider"></div>
              <center><a class="dropdown-item" href="#">
                <div class="btn-group">
                  <form action="{{ url_for('delete_entry') }}" method="POST">
                    <input type="hidden" name="post_id" value="{{ entry[0] }}">
                    <input class="xoaborder" type="submit" value="Xóa" onclick="validate(this);">
                  </form>
              <!-- <a class="btn btn-primary login" href="#home/login" data-toggle="modal" data-target="#login">
                  <i class="icon-user icon-white"></i> Xóa</a> -->
                </div>
              </a></center>
            </div>
          </div>
        </div>
<script>
function validate(form) {
  event.preventDefault();
  if(confirm("Do you really want to do this?")){
    jQuery(form).closest("form").submit()
  }else{
    return false;
  }
}
</script>
      </div>
    </div>
  {% else %}
    <li><em>Unbelievable.  No entries here so far</em></li>
  {% endfor %}
  </ul>
{% endblock %}
